@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    justify-content: center;
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    color: white;
    font-size: 15px;
}

.container{
    margin-top: 6rem;
    width: 20rem;
}

section{
    background-color:hsl(228, 56%, 26%);
    margin-bottom: 20px;
}

.header{
    border-radius: 10px 110px 10px 10px;
}

.logo{
    padding: 2.5rem;
    width: 14rem;
 }

 .image-div{
    display: flex;
    justify-content: space-around;
 }

 .icons{
    padding-bottom: 2rem;
    background-color: hsl(229, 57%, 11%);
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 2.5rem;
 }

 .icon1{
    margin-left: 6rem;
    margin-right: 1rem;
 }

 .icon2{
    margin-right: 1rem;
 }
 .icon3{
    margin-right: 10rem;
 }

 .content{
    border-radius: 10px;
    padding: 2rem;
    position: relative;
 }

 p{
    font-weight: lighter;
    padding-bottom: 1rem;
    opacity: 80%;
 }

 strong{
    opacity: 100%;
 }

.progress{
   height: 18px;
   width: 97%;
   background-color: hsl(229, 57%, 11%);
   border-radius: 30px;
   position: relative;
}

.progress::before {
   content: "";
   position: absolute;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: hsl(0, 0%, 95%);
   right: 77px;
   top: 2px;
   z-index: 1;
}

.progress-span{
   width: 70%;
   background-image: linear-gradient(to right, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
   position: absolute;
   height: 100%;
   border-radius: 10px;
}
    


 .span1, .span2 {
    display: inline-block;
    margin-top: 5px;
    font-size: 13px;
 }

 .span2{
    margin-left: 10rem;
 }

 .balance{
    position: absolute;
    bottom: -50px;
    right: 90px;
    background-color: white;
    width: 160px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(229, 57%, 11%);
 }

 .balance p{
   font-size: 39px;
   font-weight: bolder;
   color: black;
   margin-top: 7px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .balance span{
   font-size: 14px;
   color: hsl(229, 57%, 11%);
   opacity: 60%;
   margin-left: 7px;
 }

 @media  screen and (min-width:760px) {
   body{
      background-image: url(./images/bg-desktop.png);
      background-size: cover;
      background-repeat: repeat;
      background-position: right 10px top 500px;
   }

   .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      margin-top: 15rem;
      column-gap: 1rem;
   }
   .balance{
      top: -60px;
      right: 5px
   }

   /* .content::after {
      content: "";
      position: absolute;
      border-width: 25px;
      border-style: solid;
      border-color: hsl(243, 100%, 93%);
      right: 7px;
      top: -1px;
   } */

   .image-div{
      margin-left: -63px;
   }

   .progress::before{
      right: 58px;
   }

   .content{
      margin-top: 25px;
   }
 }